/* --------------------------------

David Krasniy
CalPERS

Policy Radar

-------------------------------- */

ul.inner-data-ul li.not-checked span {
	background: rgba(0, 0, 0, 0.2);
}

.program-filer {
    -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    background: white;
	max-width: 380px;
	display: none;
	position: absolute;
	padding:1em;
}
.program-filer.visible {
	display: block;
}
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.light-blue {
	background: #edf5fa;
}

.light-orange {
	background: #fdf1e8;
}

.light-yellow {
	background: #f8f4fc;
}

.light-green {
	background: #f0f6ec;
}

tr.section-header i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: .2s ease all;
	-o-transition: .2s ease all;
	transition: .2s ease all;
}

tr.section-header.collapsed i {
	-webkit-transform: none!important;
	-ms-transform: none!important;
	transform: none!important;
}

tr.section-header {
	cursor: pointer;
}

span.item {
	display: block;
	border-radius: 100%;
	height: 15px;
	color: transparent;
	width: 15px;
	margin: 0 auto;
	text-align: center;
}

span.item:hover {
	cursor: pointer;
}

span.placeholder {
	display: block;
	height: 15px;
	color: transparent;
	width: 15px;
	margin: 0 auto;
	text-align: center;
}

.light-blue span.item {
	background: #2196F3;
}

.light-orange span.item {
	background: #FF9800;
}

.light-yellow span.item {
	background: #FFEB3B;
}

.light-green span.item {
	background: #4CAF50;
}

.light-blue span.placeholder {
	background: #2196F3;
}

.light-orange span.placeholder {
	background: #FF9800;
}

.light-yellow span.placeholder {
	background: #FFEB3B;
}

.light-green span.placeholder {
	background: #4CAF50;
}

.inner-data-ul {
	padding: 0;
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
}

.inner-data-ul li {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 50%;
	flex: 1 0 50%;
}

body {
	font-family: proxima nova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #f4f6f8;
	overflow: hidden;
}

table#policy-radar {
	cursor: grab;
	cursor: -o-grab;
	cursor: -webkit-grab;
}

table#policy-radar:hover {
	cursor: grab;
	cursor: -o-grab;
	cursor: -webkit-grab;
}

#policy-radar {
	/* border: solid thin rgba(0, 0, 0, 0.1); */
	border-collapse: inherit;
	table-layout: fixed;
	background-color: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
	box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
}

#policy-radar caption {
	padding-bottom: 0.5em;
}

#policy-radar th,
#policy-radar td {
	border: solid 1px #dcdcdc;
	padding: 0.5rem 1rem;
	min-width: 4rem;
}

#policy-radar th {
	font-weight: 600;
}

#policy-radar td {
	/* border-style: none solid; */
	/* vertical-align: top; */
}

#policy-radar th {
	/* padding: 0.2em; */
	vertical-align: middle;
	text-align: center;
}

.seperator {
	display: block;
	min-height: 10px;
	background: #fff;
}

.overlay-sidebar {
	background: white;
	position: absolute;
	width: 340px;
	top: 0;
	min-height: 100%;
	display: none;
	-webkit-box-shadow: -1px -1px 11px #00000014;
	box-shadow: -1px -1px 11px #00000014;
	-webkit-transition: all .05s ease;
	-o-transition: all .05s ease;
	transition: all .05s ease;
	opacity: 0;
}

.overlay-body {
	padding: 1.5em;
}

.power-head-bg {
	background: #006edf;
	padding: .75em 1em;
}

.power-head-bg button.close {
	color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .7;
}

.power-head-bg h2 {
	font-size: 1.25em;
	line-height: 1;
	margin: 0;
	color: white;
	font-weight: 500;
}

.overlay-sidebar .details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 1.5em 0;
}

.overlay-sidebar .details:first-child {
	margin-top: 0;
}

.overlay-sidebar .details p {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 0;
}

.overlay-sidebar .details p span.label {
	display: block;
	font-weight: 600;
	font-size: .9em;
}

.overlay-sidebar h4 {
	font-weight: 600;
	font-size: 1.25em;
}

.overlay-sidebar.visible {
	display: block;
	right: 0;
	opacity: 1;
	z-index: 10000;
}

.table-scroll {
	position: relative;
	width: 100%;
	z-index: 1;
	margin: auto;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
}

.table-scroll thead th {
	background: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

tr.headers th {
	top: 30px;
}


/* safari and ios need the tfoot itself to be position:sticky also */

.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	color: #fff;
	z-index: 4;
}

th:first-child {
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
	z-index: 2;
	background: #fff;
}

.left-fixed-2 {
	position: -webkit-sticky;
	position: sticky;
	left: 64px;
	font-weight: normal;
	z-index: 2;
	background: #fff;
}

.left-fixed-3 {
	position: -webkit-sticky;
	position: sticky;
	left: 140px;
	z-index: 2;
	background: #fff;
}

thead .left-fixed-1,
thead .left-fixed-2,
thead .left-fixed-3 {
	z-index: 10;
}

thead th:first-child,
tfoot th:first-child {
	z-index: 5;
}

tr.headers th {
	background: #f9fafb;
	border-bottom: .1rem solid #dfe3e8;
	padding: 13px 5px!important;
	font-weight: 600!important;
}

.header h1 {
	margin: 0;
	font-size: 1.8em;
}

.compact td,
.compact th {
	padding: 0!important;
	min-width: 0!important;
	min-height: 0!important;
}

.compact tr.headers th {
	padding: 2px 5px!important;
}


/* .compact  {
  font-size: .9em!important;
} */

.section-header th {
	position: sticky;
	width: 100%;
	left: 0;
	top: -3px;
	z-index: 400;
	position: -webkit-sticky;
	background: #f9fafb;
	text-align: left!important;
	font-size: 1.1em;
	padding: .5em 1em!important;
}

.hide-tr {
	display: none!important;
}

tr.section-header.set-section th {
	background: #0071dc;
	color: white;
}

tr.section-header.approve-section th {
	background: #FA710E;
	color: white;
}

tr.section-header.conduct-section th {
	background: #913FD6;
	color: white;
}

tr.section-header.oversee-section th {
	background: #30B34E;
	color: white;
}


/* tr.section-header.set-section th {
  background:   #edf5fa;
  color: #0874D9;
}
tr.section-header.approve-section th {
  background:#fdf1e8;
  color: #FA710E;
}
tr.section-header.conduct-section th {
  background:#fff7e1;
  color:#333;
}
tr.section-header.oversee-section th {
  background:#f0f6ec;
  color:#30B34E;
} */

.application-bar {
	background: #fff;
	padding: 1em;
	color: #333;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.02);
	z-index: 100;
	position: -webkit-sticky;
	position: sticky;
	left: 0;
}

.header {
	background: #f6f6f6;
	padding: 1em;
	-webkit-box-shadow: 3px 3px 10px #00000008;
	box-shadow: 3px 3px 10px #00000008;
	z-index: 20;
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
}

.dropdown.policy-group .outer {
	font-weight: bold;
	font-size: 28px;
	color: #333;
	text-decoration: none;
}

.policy-group .dropdown-item {
	font-size: 20px;
	line-height: 1.75;
}

.dropdown.policy-group .outer::after {
	font-size: 19px;
	color: grey;
}

.policy-group .dropdown-menu.show {
	display: block;
	margin-top: -30px;
	-webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
	box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
	border: none;
}

.policy-group .dropdown-item.active,
.policy-group .dropdown-item:active {
	color: #006edf!important;
	font-weight: 600;
	background: #edf5fa!important;
}


/* 
th.current-year:before {
  content: "";
  position: absolute;
  top: -32px;
  left: 0;
  display: block;
  width: 64px;
  height: 92px;
  border-left: 2px solid #4CAF50;
  border-right: 2px solid #4CAF50;
} */

.fixed-section {
	position: -webkit-sticky;
	position: sticky;
	left: 18px;
}

.agenda ul {
	padding-left: 20px;
	color: #333;
	line-height: 1.25;
}

.agenda ul li {
	padding-bottom: 10px;
	color: #333;
}

.agenda ul li a {
	color: #333;
}

.agenda p {
	display: block;
	font-weight: 600;
	font-size: .9em;
}

.approve-sidebar .power-head-bg {
	background: #fc7100!important;
}

.oversee-sidebar .power-head-bg {
	background: #25b349!important;
}